:root {
  --primary-color: #e9e292;
  --secondary-color: #ce9cfe;
  --tertiary-color: #ac91f0;
  --quaternary-color: #e1d872;
}

.body-content p {
  font-size: 15px;
  margin-top: 20px;
  color: black;
  opacity: 0.7;
  width: 100%;
}

.col {
  margin: 0px auto 80px auto;
}

.col h3 {
  color: var(--tertiary-color);
  font-size: 60px;
}

.col p {
  color: var(--secondary-color);
  line-height: 2;
}

.container {
  padding: 0;
  margin: auto 70px;
}

.description {
  padding: 60px 55px;
}

.featured {
  color: var(--tertiary-color);
  font-size: 17px;
  opacity: 0.7;
  padding-top: 40px;
  margin-top: 0px;
  margin-bottom: 40px;
}
.hero-container {
  background-color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 160px 20px;
  width: 100%;
}

.row {
  margin: 0px;
  padding: 0px;
}

a:hover {
  background-color: var(--quaternary-color);
  color: white;
  border: 1px solid var(--quaternary-color);
  transition: ease-in 50ms;
}

img {
  max-width: 100%;
}

a {
  background-color: white;
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  color: var(--tertiary-color);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}

body {
  margin: 0 auto;
  margin-bottom: 30px;
}

h1 {
  color: var(--secondary-color);
  font-size: 100px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

h2 {
  color: var(--secondary-color);
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

p {
  color: var(--secondary-color);
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 48px;
}

button {
  font-size: 18px;
  padding: 15px 30px;
  background: var(--secondary-color);
  border: 1px;
  border-radius: 4px;
  color: white;
}

button:hover {
  background-color: white;
  color: var(--secondary-color);
  transition: ease-in linear 100ms;
}

@media (max-width: 991px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 28px;
  }

  .container {
    margin: auto 10px;
  }

  .description {
    margin-bottom: 30px;
    padding: 0px 30px 60px 30px;
    text-align: center;
  }

  .description h3 {
    font-size: 45px;
  }

  .row {
    margin: 0px;
    padding: 0px;
  }
}
