:root {
  --primary-color: #e9e292;
  --secondary-color: #ce9cfe;
  --tertiary-color: #ac91f0;
  --quaternary-color: #e1d872;
}

.body-content p {
  font-size: 15px;
  margin-top: 20px;
  color: black;
  opacity: 0.7;
  width: 100%;
}

.coder-pic {
  border-radius: 10px;
  display: block;
  margin: auto auto;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
}

.col {
  margin: 0px auto 80px auto;
}

.col h3 {
  color: var(--tertiary-color);
  font-size: 60px;
}

.col p {
  color: var(--secondary-color);
  line-height: 2;
}

.container {
  padding: 0;
  margin: auto 70px;
}

.d-flex {
  gap: 30px;
}

.description {
  padding: 60px 55px;
}

.featured {
  color: var(--tertiary-color);
  font-size: 20px;
  opacity: 0.7;
  padding-top: 55px;
  margin: 0;
  padding-bottom: 25px;
}
.hero-container {
  background-color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 110px 20px;
  width: 100%;
}

.row {
  margin: 0px;
  padding: 0px;
}

.learn-link {
  background-color: white;
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  color: var(--tertiary-color);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}

.learn-link:hover {
  background-color: var(--quaternary-color);
  color: white;
  border: 1px solid var(--quaternary-color);
  transition: ease-in 50ms;
}

.about-brand {
  margin-left: 30px;
  color: #ad71e5;
}

.about-brand:hover {
  color: #ad71e5;
}

.about-link {
  color: #ad71e5;
  opacity: 0.7;
}

.about-link:hover {
  color: #ad71e5;
  opacity: 0.9;
}

.index-brand {
  margin-left: 30px;
  color: white;
}

.index-brand:hover {
  color: white;
}

.primary-link {
  color: white;
  opacity: 0.7;
}

.primary-link:hover {
  color: white;
  opacity: 0.9;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  margin-bottom: 30px;
}

button {
  font-size: 18px;
  padding: 15px 30px;
  background: var(--secondary-color);
  border: 1px;
  border-radius: 4px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button:hover {
  background-color: white;
  color: var(--secondary-color);
  transition: ease-in linear 100ms;
}
h1 {
  color: var(--secondary-color);
  font-size: 100px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

h2 {
  color: var(--secondary-color);
  font-size: 40px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

header {
  background-color: var(--primary-color);
  margin-right: 40px;
  width: 100%;
}

html {
  height: 100%;
  background-color: var(--secondary-color);
}

p {
  color: var(--secondary-color);
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 70px;
}

@media (max-width: 991px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 80px;
  }

  .about-container {
    text-align: center;
    padding: 110px 50px 100px 50px;
  }

  .about-container h1 {
    font-size: 60px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 28px;
  }

  .about-container h2 {
    font-size: 23px;
    line-height: 1;
  }

  .about-container .row .col p {
    margin-top: 25px;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 50px;
  }

  .coder-info {
    margin-bottom: 60px;
  }

  .container {
    padding: 0;
    margin: auto 40px;
  }

  .description {
    margin-bottom: 30px;
    padding: 0px 30px 60px 30px;
    text-align: center;
  }

  .description h3 {
    font-size: 45px;
  }

  .d-flex {
    gap: 0;
  }

  .img-box {
    margin: 0;
  }

  .hero-container {
    padding: 110px 20px 100px 20px;
  }

  .row {
    margin: 0px;
    padding: 0px;
  }
}
